#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  padding: 0 2em 0 2em;
  color: #edfdff;
}
#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}
#nav-bar .header {
  font-size: 2em;
  float: left;
  line-height: 2.5;
}

