#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color:#2DA085;
  padding: 0 2em 0 2em;
  color: #E7FCFE;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-bar .nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
#nav-bar .title-text {
  font-size: 2em;
}
#nav-bar .nav-right {
  display: flex;
  align-items: center;
}
#nav-bar .compose, .login, .register{
  margin: 10px;
  padding: 20px 10px;
  border: 1px solid black;
  color: #2DA085;
  background-color: #E7FDFF;
  border-radius: 5px;
}
#nav-bar .compose:hover, .login:hover, .register:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

