section.new-tweet {
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}
section.new-tweet h2 {
  border-bottom: 1px solid black;
}
section.new-tweet textarea {
  width: 100%;
  padding: 10px;
}
.counter {
  float: right;
}
.invalid {
  color: red;
}