section.new-tweet, section.register-form, section.login-form {
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
section.new-tweet h2, section.register-form h2, section.login-form h2 {
  border-bottom: 1px solid black;
  color: #22454E;
  margin: 0;
  margin-bottom: 5%;
}
section.new-tweet textarea {
  width: 100%;
  padding: 2%;
}
section.new-tweet .counter {
  float: right;
}
.error {
  padding: 1%;
  color: red;
  display: none;
}
.invalid {
  color: red;
}
