article.tweet {
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 10px;
}
article.tweet header {
  background-color: #eee;
  height: 60px;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
.tweet header h2 {
  display: inline;
}
.tweet header .avatars { 
  margin-right: 10px;
  display: inline;
  float: left;
}
.tweet header h5 {
  float: right;
  display: inline;
}
.tweet p {
  clear: both;
}
article.tweet section {
  padding: 10px;
}
article.tweet footer {
  border-top: 1px solid #eee;
  padding: 5px;
}
