.tweet {
  border: 1px solid grey;;
  border-radius: 10px;
  margin-top: 10px;
}
article.tweet header {
  background-color: #eee;
  height: 60px;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
.tweet header h2 {
  display: inline;
  color: rgb(1, 51, 51);
  opacity: 0.5;
}
.tweet header img { 
  margin-right: 10px;
  display: inline;
  float: left;
  opacity: 0.5;
}
.tweet header h5 {
  display: inline;
  color: black;
  font-weight: normal;
  float: right;
  opacity: 0.5;
}
.tweet section {
  clear: both;
  color: black;
  padding: 20px;
}
.tweet footer {
  border-top: 1px solid #eee;
  padding: 10px;  
  color: black;
}
.tweet footer .symbols{
  float: right;
  color: rgb(1, 51, 51);
  visibility: hidden;
}
.tweet:hover header *{ 
  opacity: 1;
}
.tweet:hover footer *{
  visibility: visible;
}
